{% extends "movies/base.html" %}
{% block content %}

<ul>
  <li><a class="active" href="/movies">Movies</a></li>
  <li><a href="/movies/mycollection">My Favorite</a></li>
</ul>

<div class="container">  
    <form id="contact" action="" method="post">

      {% if all_movies %}
      <h3>Choose your favorite Movies</h3>
      {% else %}
      <h3>No more Movies</h3>
      {% endif %}

      {% for m in all_movies %}
      
      <fieldset>
        <label><strong>Title:</strong> {{m.title}}</label>
        <label><strong>Date:</strong> {{m.date}}</label>
      </fieldset>
      <fieldset>
        <a class="button" href="add/{{m.id}}">Add To My List</a>
      </fieldset>

      {% endfor %}

    </form>
  </div>
  {% endblock %}